{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}

<main>
    <h1 class="page-title blue-text">Contacto</h1>
    <div class="contact-wrapper">
        <section>
            <h2 class="section-title blue-text center">Información</h2>
            <p>Exchange es una empresa que tiene como objetivo que sus usuarios intercambien sus cualidades a cambio de utilizar otras de otros usuarios, con un sistema de tiempo para que haciendo servicios puedas pedir otros a cambio.</p>
        </section>
        <section>
          <form action="./contacto" method="POST">
            <div class="form-wrapper">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="text" name="name" id="name" required>
                        <label for="name">Nombre</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="contact-info" name="contact-info" class="materialize-textarea" required></textarea>
                        <label for="contact-info">Información</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" name="contact-submit" class="btn waves-effect waves-light blue">ENVIAR</button>
                    </div>
                </div>
            </div>
          </form>
        </section>
    </div>
</main>
{% endblock %}