{% extends 'base.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}
<header>
  <nav>
    <div class="nav-wrapper blue">
      <a href="#!" class="brand-logo" id="logo">ExChange</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {# <li><a class="waves-effect waves-light modal-trigger"><i class="material-icons left">message</i>Mensajes</a></li> #}
        <li><a class="waves-effect waves-light modal-trigger" href="./login"><i class="material-icons left">person</i>Log In</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="#searchModal"><i class="material-icons left">search</i>Busqueda</a></li>
      </ul>
    </div>
  </nav>
</header>
<ul class="sidenav" id="mobile-demo">
  {# <li><a class="waves-effect waves-light modal-trigger"><i class="material-icons left">message</i>Mensajes</a></li> #}
  <li><a class="waves-effect waves-light modal-trigger" href="./login"><i class="material-icons left">person</i>Cuenta</a></li>
  <li><a class="waves-effect waves-light modal-trigger" href="#searchModal"><i class="material-icons left">search</i>Busqueda</a></li>
</ul>
<div id="searchModal" class="modal">
  <form action="./search" method="GET" name="searchForm">
    <div class="modal-content">
      <nav>
        <div class="nav-wrapper blue lighten-2">
          <div class="input-field">
            <input id="q" type="search" name="q">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons" id="clearInput">close</i>
          </div>
        </div>
      </nav>
      <br>
      <div class="input-field col s12">
        <h5>Filtrar Categoría</h5>
        <select class="browser-default blue lighten-2" name="cat">
          <option value="none"selected>Escoge una categoría</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="input-field col s12">
        <h5>Filtrar Ciudad</h5>
        <select class="browser-default blue lighten-2" name="city">
          <option value="none"selected>Escoge una ciudad</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect blue lighten-4 btn-flat" type="submit">Buscar</button>
    </div>
  </form>
</div>
<main>
    <div class="contact-wrapper">
        <section>
            <h2 class="section-title blue-text">Información</h2>
        </section>
        <section>
            <div class="form-wrapper">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="name" id="name">
                        <label for="name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="email" name="email" id="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="contact-info" class="materialize-textarea"></textarea>
                        <label for="contact-info">Información</label>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}