{% extends 'base.html.twig' %}

{% block title %}Redirigiendo...{% endblock %}

{% block body %}
<div class="central-form">
    <div class ="card">
        <a href="/"><h1 class="brand-logo form-logo blue-text" id="logo">E<span class="color">x</span>Chang<span class="color">e</span></h1></a>
    </div>
</div>
{% endblock %}
