{% extends 'base.html.twig' %}

{% block title %}Datos personales{% endblock %}

{% block body %}
<form method="post" action="/successLogin/actualizarDatosPersonales" enctype="multipart/form-data">

    <h3 class="h3 mb-3 font-weight-normal">Modificar datos personales</h3>
    <label for="inputEmail" class="sr-only">Nuevo nombre de Usuario</label>
    <input type="text" name="nombreUsuario" id="inputNombreUsuario" class="form-control" placeholder="Nombre Usuario" autofocus>
    <label for="inputPassword" class="sr-only">Nueva Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    <input type="hidden" name="username" id="username" class="form-control" placeholder="userName" value="{{app.user.username}}">
    <label for="inputImagen" class="sr-only">Nueva Imagen de Usuario</label>
    <input type="file" name="imagenes" id="inputImagen">
    <select name="ciudad">
        {% if ciudades %}
            {% for ciudad in ciudades %}
                <option value="{{ ciudad.nombreC }}">{{ ciudad.nombreC }}</option>
            {% endfor %}
        {% endif %}
    </select>

    <button class="btn btn-lg btn-primary" type="submit" formaction="/successLogin/actualizarDatosPersonales">
        Actualizar
    </button>
    <button class="btn btn-lg btn-primary" type="submit" formaction="../">
        Dar de baja
    </button>
    <button class="btn btn-lg btn-primary" formaction="../successLogin">
        Volver
    </button>
    
</form>
<footer>
    <section class="copyright white-text">
      <i class="material-icons">copyright</i><p>ExChange 2019</p>
    </section>
    <section class="legal white-text">
      <i class="material-icons">info</i><a href="/legal">Aviso legal</a>
    </section>
</footer>

{% endblock %}