{% extends 'base.html.twig' %}

{% block title %}Datos personales{% endblock %}

{% block body %}
<form method="post">

    <h3 class="h3 mb-3 font-weight-normal">Modificar datos personales</h3>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}