{% extends 'base.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}
<header>
  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo" id="logo">ExChange</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {# <li><a class="waves-effect waves-light modal-trigger"><i class="material-icons left">message</i>Mensajes</a></li> #}
        <li><a class="waves-effect waves-light blue-text text-darken-4" href="./successLogin/misDatosPersonales"><i class="material-icons left">person</i>Perfil</a></li>
        <li><a class="waves-effect waves-light blue-text text-darken-4" href="./logout"><i class="material-icons left">input</i>Cerrar sesión</a></li>
        <li><a class="waves-effect waves-light modal-trigger blue-text text-darken-4" href="#searchModal"><i class="material-icons left">search</i>Busqueda</a></li>
      </ul>
    </div>
  </nav>
</header>
<ul class="sidenav" id="mobile-demo">
  {# <li><a class="waves-effect waves-light modal-trigger"><i class="material-icons left">message</i>Mensajes</a></li> #}
  <li><a class="waves-effect waves-light" href="./successLogin/misDatosPersonales"><i class="material-icons left">person</i>Perfil</a></li>
  <li><a class="waves-effect waves-light" href="/logout"><i class="material-icons left">input</i>Cerrar sesión</a></li>
  <li><a class="waves-effect waves-light modal-trigger" href="#searchModal"><i class="material-icons left">search</i>Busqueda</a></li>
</ul>
<div id="searchModal" class="modal">
  <form action="./search" method="GET" name="searchForm">
    <div class="modal-content">
      <nav>
        <div class="nav-wrapper blue">
          <div class="input-field">
            <input id="q" type="search" name="q">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons" id="clearInput">close</i>
          </div>
        </div>
      </nav>
      <br>
      <div class="input-field col s12">
        <h5 class="blue-text">Filtrar Categoría</h5>
        <select class="blue" name="cat">
          <option value="none"selected>Escoge una categoría</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="input-field col s12">
        <h5 class="blue-text">Filtrar Ciudad</h5>
        <select class="blue" name="city">
          <option value="none"selected>Escoge una ciudad</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect blue btn-flat white-text" type="submit" id="searchButton">Buscar</button>
    </div>
  </form>
</div>
<main>
  <section>
    <h2 class="section-title blue-text">Bienvenido</h2>
  </section>
  <section class="latest-services">
    <h2 class="section-title blue-text">Ultimos servicios</h2>
    <div class="services-list">
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches Especial extra plus</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches Especial extra plus</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
      <article class="card blue accent-1">
        <p class="user-text">xLuyan</p>
        <h3>Limpieza de coches</h3>
        <h4>30m</h4>
        <p class="category-text">Automóviles</p>
      </article>
    </div>
  </section>
  <section class="most-demanded-services">
    <h2 class="section-title blue-text">Introducir nueva</h2>
    <div class="services-list">
      <article class="card blue accent-1">

        <form method="post" action="/enviaroferta">
          <p class="user-text">Manuel Luján Jiménez</p>

          <select name="servicio" class="category-text">
            {% if categorias %}
                {% for categoria in categorias %}
                    <option value="{{ categoria.getNombreCategoria }}">{{ categoria.getNombreCategoria }}</option>
                {% endfor %}
            {% endif %}
            <label for="inputDescripcion" class="sr-only" laceholder="Descripcion"></label>
            <input type="text" name="descripcion" id="inputDescripcion" class="form-control" placeholder="Descripcion" autofocus>
            <input type="number" name="duracionservicio" id="inputTime" class="form-control" min="1" max="6" placeholder="Duracion del servicio">
            <input type="hidden" name="username" id="username" class="form-control" placeholder="userName" value="{{app.user.username}}">

            <button class="btn btn-lg btn-primary" type="submit">Añadir</button>
          </select>
      </form>
      </article>
    </div>
  </section>
</main>
<footer>
    <section class="copyright white-text">
      <i class="material-icons">copyright</i><p>ExChange 2019</p>
    </section>
    <section class="legal blue-text text-darken-4">
      <i class="material-icons">info</i><a href="/legal">Aviso legal</a>
    </section>
</footer>
{% endblock %}
