{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}

<main>
  {# <section>
    <h2 class="section-title blue-text">Bienvenido</h2>
  </section> #}
  <section class="latest-services">
    <h2 class="section-title blue-text">Ultimos servicios</h2>
    <div class="services-list">
      {% for i in 1..10 %}
      <article class="card cyan lighten-4 blue-text text-darken-4">
        <p>Manuel Luján Jiménez</p>
        <h3>Saco a pasear a mascotas</h3>
        <h4>1h</h4>
        <p class="category-text">Mascotas</p>
        {% if user != 'anon.' %}
          <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger">Solicitar</a>
        {% else %}
          <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </section>
  <section class="most-demanded-services">
    <h2 class="section-title blue-text">Servicios más demandados</h2>
    <div class="services-list">
      {% for i in 1..10 %}{# Utilizar loop.index luego #}
      <article class="card cyan lighten-4 blue-text text-darken-4">
        <p>Manuel Luján Jiménez</p>
        <p class="ranking">#{{i}}</p>
        <h3>Saco a pasear a mascotas</h3>
        <h4>1h</h4>
        <p class="category-text">Mascotas</p>
        {% if user != 'anon.' %}
          <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger">Solicitar</a>
        {% else %}
          <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </section>
  {% if user != 'anon.' %}
  <div id="requestModal" class="modal">
    <form method="post" action="/request">
      <div class="modal-content">
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
        <button class="modal-close waves-effect blue btn white-text" type="submit">Solicitar</button>
        {# <button class="btn btn-lg btn-primary modal-close" type="submit">Crear servicio</button> #}
      </div>
    </form>
  </div>
  {% endif %}
  <section class="most-demanded-services">
  
    {# <h2 class="section-title blue-text">Introducir nueva</h2>
    <div class="services-list">
      <article class="card blue accent-1">

        <form method="post" action="/enviaroferta">
          <p class="user-text">Manuel Luján Jiménez</p>

          <select name="servicio" class="category-text">
            {% if categorias %}
                {% for categoria in categorias %}
                    <option value="{{ categoria.getNombreCategoria }}">{{ categoria.getNombreCategoria }}</option>
                {% endfor %}
            {% endif %}
            <label for="inputDescripcion" class="sr-only" laceholder="Descripcion"></label>
            <input type="text" name="descripcion" id="inputDescripcion" class="form-control" placeholder="Descripcion" autofocus>
            <input type="number" name="duracionservicio" id="inputTime" class="form-control" min="1" max="6" placeholder="Duracion del servicio">
            <input type="hidden" name="username" id="username" class="form-control" placeholder="userName" value="{{app.user.username}}">

            <button class="btn btn-lg btn-primary" type="submit">Crear servicio</button>
          </select>
      </form>
      </article>
    </div> #}
  </section>
</main>

{% endblock %}
