.legal-warning {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    & h2 {
        font-size: 24px;
        color: #2196f3;
    }
    @media (max-width: 800px) {
        width: 90%;
    }
}