.central-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    &>* {
        padding: 20px;
    }
}