* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    text-align: center !important;
    padding: 0 !important;
}

#logo {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    padding-left: 20px;
    .color {
        color: #2196f3;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }
}

.no-padding {
    padding: 0 !important;
}

.form-logo {
    padding-right: 40px !important;
    padding-left: 40px !important;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    &>*>* {
        background-image: url("../images/background.jpg");
        background-size: 100% auto;
        background-position: center;
        & ul>li {
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                background-color: #0d47a1;
                transition: height .2s linear;
            }
        }
        & ul>li:hover::before {
            height: 4px;
        }
        & ul>li>a:hover {
            background-color: transparent;
        }
    }
}

.user-img {
    width: 35px;
    position: absolute;
    top: 9px;
}

#mobile-demo {
    z-index: 1001;
}

#searchModal {
    height: 80% !important;
    & .search-button {
        position: absolute;
        bottom: 30px;
        right: 30px;
        &:first-child {
            right: 135px;
        }
    }
}

main {
    margin-top: 80px;
    & section,
    & div {
        width: 100%;
        & h2 {
            font-size: 50px;
            padding-left: 30px;
            font-weight: lighter;
            text-transform: uppercase;
            @media (max-width: 800px) {
                font-size: 30px;
            }
        }
        & .services-list,
        &>.row {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-evenly;
            & article {
                width: 280px;
                height: 280px;
                padding: 15px;
                position: relative;
                overflow: hidden;
                &:hover a {
                    bottom: -25px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 30%;
                    top: -30px;
                    left: 0px;
                    background-color: #80deea;
                    transform: skewY(-10deg);
                }
                & p:first-child {
                    position: relative;
                }
                & .ranking {
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    font-weight: 600;
                    font-size: 2.2rem;
                }
                & h3 {
                    font-size: 33px;
                    font-weight: lighter;
                    margin-top: 3.1rem;
                }
                & .time {
                    position: absolute;
                    top: 50px;
                    right: 7px;
                    font-size: 20px;
                }
                & .points {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    display: inline-flex;
                    vertical-align: middle;
                    font-size: 18px;
                }
                & .category-text {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
                & a {
                    position: absolute;
                    width: 100%;
                    height: 40%;
                    left: 0;
                    bottom: -50%;
                    transform: skewY(-10deg);
                    transition: bottom .15s linear;
                    text-align: center;
                    font-size: 36px;
                    padding-top: 10px;
                }
            }
        }
    }
    & #requestModal .modal-form {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* FOOTER GENERICO */

$footer-height: 70px;
html {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-position: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    & .copyright {
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 1.1em;
        & i {
            font-size: 32px;
            padding: 0 10px;
        }
    }
    & .legal {
        display: flex;
        align-items: center;
        justify-content: right;
        & a {
            color: #0d47a1;
            padding: 0 30px 0 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

main {
    padding-bottom: $footer-height;
    &>*:last-child {
        padding-bottom: 40px;
    }
}

/* Contacto */

.page-title {
    text-align: center;
    font-size: 6em;
    padding-top: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}

.smaller {
    font-size: 4em;
}

.contact-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    &>*:first-child {
        border-right: 2px solid #2196f3;
        & p {
            padding: 40px;
        }
    }
    &>*:last-child {
        padding: 40px;
    }
}

@media (max-width: 800px) {
    .page-title {
        font-size: 4em;
    }
    .smaller {
        font-size: 2em;
    }
    .contact-wrapper {
        display: flex;
        flex-flow: wrap;
        &>*:first-child {
            border-right: 0px solid #2196f3;
            & p {
                padding: 30px;
            }
        }
        &>*:last-child {
            padding: 30px;
        }
    }
}

/* LOGIN Y REGISTRO */

.central-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    &>* {
        padding: 20px;
    }
}

/* Redirect */

.special-card {
    padding: 0 !important;
    & .check {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #b2ff59;
        color: #33691e;
        width: 100%;
        height: 180px;
        font-size: 22px;
        & i {
            font-size: 68px;
            color: #33691e;
        }
    }
    & .progress {
        margin: 0 !important;
        background-color: #b2ff59;
    }
}

/* Aviso legal */

.legal-warning {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    & h2 {
        font-size: 24px;
        color: #2196f3;
    }
    @media (max-width: 800px) {
        width: 90%;
    }
}

/* Modificar datos personales */

.file-type {
    width: unset !important;
}

#change-data-form .row {
    padding: 40px;
}

.change-data-btns {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ESTILOS INPUTS */

$color: #2196f3;
/* label focus color */

.input-field input:focus+label,
.input-field textarea:focus+label {
    color: $color !important;
}

/* label underline focus color */

.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid $color !important;
    box-shadow: 0 1px 0 0 $color !important;
}

ul.dropdown-content.select-dropdown li span {
    color: $color;
}