/* GENERAL */

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    text-align: center !important;
    padding: 0 !important;
}

#logo {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    padding-left: 20px;
    .color {
        color: #2196f3;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }
}

.no-padding {
    padding: 0 !important;
}

.form-logo {
    padding-right: 40px !important;
    padding-left: 40px !important;
    text-align: center;
}

html {
    position: relative;
    min-height: 100vh;
}

/* END General */

/* IMPORTS */

@import 'header';
@import 'main';
@import 'footer';
@import 'specific/contact';
@import 'specific/signInUp';
@import 'specific/redirect';
@import 'specific/legal';
@import 'specific/profile';
@import 'specific/messages';
/* END IMPORTS */

/* STYLES INPUTS */

$color: #2196f3;
/* label focus color */

.input-field input:focus+label,
.input-field textarea:focus+label {
    color: $color !important;
}

/* label underline focus color */

.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid $color !important;
    box-shadow: 0 1px 0 0 $color !important;
}

ul.dropdown-content.select-dropdown li span {
    color: $color;
}